<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OAuth2 Secured Page</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
	<section class="section">
		<div class="container has-text-centered">
			<div>
				<h1 class="title">OAuth2 Spring Security Cognito</h1>
				<h1 class="title" style="color:red;">Secured Page</h1>

				<div sec:authorize="isAuthenticated()">
					<div class="box">
						Name: <strong th:text="${#authentication.name}"></strong>!
					</div>
					<div>
					Authenticated username:
			        <div sec:authentication="name"></div>
			        Authenticated user roles:
			        <div sec:authentication="principal.authorities"></div>
					</div>
					<hr/>
					<div>
						<a th:href="@{/logout}">Logout (with Confirmation)</a>
						&nbsp;|&nbsp;
						<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
						&nbsp;|&nbsp;
						<a href="http://localhost:8080/">Back to Top</a>
					</div>
					<div>
						<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
					    	<input type="submit" value="Sign Out"/>
					  	</form> 
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>